<div class="content"
     role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-large">
    <h1 class="news spacer">We've got great news!</h1>
    <h1 class="name me">Jordan Benge</h1>
    <div class="ribbon">
      <h2>and</h2>
    </div>
    <h1 class="name her spacer">Erica Dettinger</h1>
    <h1>Are finally engaged!</h1>
    <h3>as of April 8th, 2022!</h3>
  </div>

  <div class="card about">
    <h1 class="spacer">How did Jordan propose?</h1>
    <p>Erica and I love to do Escape Rooms, but we haven't had the opportunity to do one since moving to Omaha, two years ago. So I thought it would be the perfect cover.</p>
    <p>
      Once I had the general idea worked out, I reached out to one of her friends and asked if her and her husband would be willing to help me with the proposal. She enthusiastically agreed and covertly had Erica get her nails done with her, under the guise of her going on vacation the following week.
    </p>
    <p>
      After a lot of research, I decided to call <a href="http://www.getoutomaha.com.com/">Get Out Omaha</a> and ask if they would be willing to facilitate a proposal; to which they were more than happy to oblige.
    </p>
    <p>
      After discussing my ideas with the host, I decided the best option was for the final clue to be the proposal. I had an old scroll printed with the words "Will You Marry Me" on it. Making sure to relay to the friend & her husband, that Erica was to be the one who opened the drawer with the scroll in it, and to let her open the scroll.
    </p>
  </div>

  <div class="card images">
    <h1 class="spacer-padded">Proposal Photos & Video</h1>
    <img src="assets/proposing.jpg">
    <img src="assets/after_proposal.jpg">
    <img src="assets/she_said_yes.jpg">
    <img src="assets/the_ring.jpg">
  </div>

  <div class="card images">
    <h1 class="reaction spacer-padded">Her Reaction & The Ring</h1>
    <video width="100%"
           controls>
      <source src="assets/her_reaction.MOV"
              type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <iframe width="300"
            height="500"
            src="https://www.youtube.com/embed/eAosyyWxw4Q"
            title="YouTube video player"
            autoplay="true"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>

  <div class="card">
    <h1 class="spacer">What now?</h1>
    <p>
      We are both very excited about this new chapter in our lives, and looking forward to the day we are finally married.
    </p>
    <p>
      While the specifics are unknown, we will make sure to keep you posted when we have a definitive date and location.
    </p>
  </div>

  <div class="card thanks">
    <h1>Special Thanks</h1>
    <div class="spacer small"></div>
    <p class="thanks">To the Leoffler's for helping with the proposal, and capturing our special moment for us!</p>
    <p class="thanks">To <a href="http://www.getoutomaha.com/">Get Out Omaha</a> for facilitating the proposal and helping with the logistics.</p>
    <p class="thanks">To <a href="http://www.https://conciergediamonds.com//">Concierge Diamonds</a> for custom-making our Engagement Ring. Shout-out to Astrid & Jessika for making the process easy!</p>
    <p class="thanks">To 00:59.37, we wouldn't be here without ya, buddy.</p>
  </div>

  <svg id="clouds"
       xmlns="http://www.w3.org/2000/svg"
       width="2611.084"
       height="485.677"
       viewBox="0 0 2611.084 485.677">
    <title>Gray Clouds Background</title>
    <path id="Path_39"
          data-name="Path 39"
          d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
          transform="translate(142.69 -634.312)"
          fill="#eee"/>
  </svg>

</div>

